In [2]:
print('hy, python')
print("user")
print(12)
#The print function is used when I want to display something to the user. The content must be inside parentheses and:

#Enclosed in single quotes 'user' or double quotes "user" if it's text (a string).

#If it's a number, I just write it inside the parentheses without any quotes.

hy, python
user
12

In [3]:
import random
#I use import to call any library I need. I simply write import followed by the name of the library.

In [5]:
def sumation(x,y):
    return x+y
sumation(1,6)
#You need to write it this way to format the space correctly. You can't skip the parentheses, and you must call it again at the end.

#The word return means "give back a specific result." You can replace it with print in some cases to display the result instead.

7

In [ ]:
#There are two ways to write a comment to remind myself or explain to others:

#For a single line, use # at the beginning of the line.

#For multiple lines, enclose the text between three single quotes ''' at the start and the end.#

In [10]:
print('hello\nuser')
#To create a line break in a print statement, use \n.

hello
user

In [58]:
#format for the output you can use any format
name='mohamed'
age=17
print('hello,'+name+'your age is,'+str(age))
print(f'hello{name} you age is {age}')
print('hello {} your age is {}'.format(name,age))

hello,mohamedyour age is,17
hellomohamed you age is 17
hello mohamed your age is 17

In [12]:
name=input('enter your name')
age=int(input('enter your age'))
'''To create an input, you define a variable with a meaningful name, and then assign it the value entered by the user. Everything entered by the user is treated as a string.

If you want to specify the type of input (for example, to make sure the user enters a number), you can use functions like int() or float() before the input.'''

enter your name nm,
enter your age 2

'To create an input, you define a variable with a meaningful name, and then assign it the value entered by the user. Everything entered by the user is treated as a string.\n\nIf you want to specify the type of input (for example, to make sure the user enters a number), you can use functions like int() or float() before the input.'

In [13]:
x=45
type(x)

int

In [14]:
#To convert the input to a decimal (float), you create a new variable and assign the value of the old variable after converting it using float().
y=float(x)
type (y)

float

In [16]:
x=3
y=7
print(x+y)
print(x%y)
print(x**y)
'''+ Addition It adds together two values. x + y
- Subtraction It subtracts one value from another. x - y
* Multiplication It multiplies two values. x * y
/ Division It divides one value by another. x / y
% Modulus It returns the division remainder. x % y
// Floor Division
It divides the left operand by the right 
operand and returns the integer part of 
the result.
x//y
-- Exponentiation It raises the left operand to the power 
of the right operand. x**y'''

10
3
2187

'+ Addition It adds together two values. x + y\n- Subtraction It subtracts one value from another. x - y\n* Multiplication It multiplies two values. x * y\n/ Division It divides one value by another. x / y\n% Modulus It returns the division remainder. x % y\n// Floor Division\nIt divides the left operand by the right \noperand and returns the integer part of \nthe result.\nx//y\n-- Exponentiation It raises the left operand to the power \nof the right operand. x**y'

In [20]:
x=5
x+=7
x-=1
x//=5
print(x)
'''Operator Example Same as
= x = 5 x = 5
=+ x + = 3 x = x + 3
=- x - = 3 x = x - 3
=* x * = 3 x = x * 2
=/ x / = 3 x = x / 3
=// x // = 3 x = x // 3
=% x % = 3 Y = x
=** x **= 3 x = x ** 3
Note (17)
Incrementing and Decrementing Variables in Python:
â€¢ In Python, there is no ++ operator for incrementing variables, nor is there'''

2

In [22]:
x=6
y=9
x==y#false
x!=y#true
x>=y#false
'''Comparison Operators:
The assignment operators are responsible for assigning values to the left-hand side of 
these operators. The basic operators are the first six rows in table (9). 
Table (9): Comparison operators
Operator Example Same as
== Equal to x == y
=! Not equal x ! = y
> Greater than x > y
< Less than x < y
=> Greater than or equal to x >= y
=< Less than or equal to x <= y'''

False

In [31]:
user1='jo'
user2='monica'
user1=='jo' and user2 =='monica'#teue
user1=='jo' or user2 =='yaso'#true
not(user1=='jo' and user2 =='monica')#false
'''and Logical and
It returns true if both 
statements are true.
x < 5 and x < 10
or Logical or
It returns true if one of the 
statements is true. x < 5 or x < 4
not
Logical not
Reverse the result, it returns 
false if the result is true. )not(x < 5 and x < 10'''

False

In [35]:
user=input('enter your name')
if user == 'ahmed':
    print('hy,' + user)
else:
    print('error')
'''if means "if this condition is true, do this."
else means "if the condition is not true, do this."
The code in else will only run if the if condition is not met.

In addition to that, you must pay attention to indentation (spaces or tabs) and also include the colon : after the if and else statements. This is required to define the block of code that will run based on the condition.'''

enter your name ahmed

hy,ahmed

In [36]:
name=input('enter your  name')
age=int(input('enter your age'))
if name=='ABC':
    print('ok')
elif age == 12:
    print('ok')
else:
    print('no')
'''if means "if this condition is true, do this."
else means "if the condition is not true, do this."
The code in else will only run if the if condition is not met.

In addition to that, you must pay attention to indentation (spaces or tabs) and also include the colon : after the if and else statements. This is required to define the block of code that will run based on the condition.'''

enter your  name alaa
enter your age 2

no

In [38]:
for i in range (1,11):
    print(i)
'''In this program, we use the range() function to generate a sequence of numbers from 
1 to 100, and then we iterate through this sequence using a for loop. Inside the loop, we 
print each number. This will output numbers from 1 to 100, one per line.'''

1
2
3
4
5
6
7
8
9
10

In [ ]:
names=['alaa','youssef','aya']
for i in names:
    print (i)
#In this example, the for loop iterates through the fruits list and prints each item.

In [ ]:
count = 0

while count < 5:
    print(count)
    count += 1
'''Explanation:

The while loop keeps running as long as the condition count < 5 is true.

In each loop, it prints the value of count and then increases count by 1 using count += 1.

Once count reaches 5, the condition count < 5 is no longer true, so the loop stops.'''

In [45]:
#list [] 
age=[1,2,3,4,5,6]#format of list[]
age.append(12)#if you need add a new item
age.insert(2,9)#"If you want to add an item and specify its position."
age.remove(9)#if you need remove item by his name
age.pop(1)#if you need remove item by his index
#if you need mearge between  two lists you will use (extend)
names=['A','B','c']
age.extend(names)
print(age)

[1, 3, 4, 5, 6, 12, 'A', 'B', 'c']

In [ ]:
#tuple() you can not edite it
name=('asd','koko','hady')

In [52]:
#dic{} its content a key and value like:
data={'alaa':12,'ahmed':11}
#if you need add key and value
data['mohamed']=10
#if you need remove youn will use (del)
del data['mohamed']
print(data)

{'alaa': 12, 'ahmed': 11, 'mohamed': 10}
{'alaa': 12, 'ahmed': 11}